adf-pipelines/incremental-data-loading/Incremental Data Loading.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureSqlDatabase":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Incremental Data Loading')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LookupOrdersTable","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT CONVERT(VARCHAR, MAX(insert_time), 120) AS last_insert_time FROM [dbo].[Orders]\r\n","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"CustomersTable","type":"DatasetReference","parameters":{}}}},{"name":"Copy data","type":"Copy","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT DISTINCT o.customer_id, o.first_name, o.last_name, o.insert_time\nFROM [dbo].[Orders] o\nWHERE o.insert_time > CONVERT(DATETIME, '@{variables('LastInsertTime')}', 120)\nAND NOT EXISTS (\n    SELECT 1 FROM [dbo].[Customer] c WHERE c.customer_id = o.customer_id\n)","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"AzureSqlSink","writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlOrdersTable","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CustomersTable","type":"DatasetReference","parameters":{}}]},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"LookupOrdersTable","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"LastInsertTime","value":"@activity('LookupOrdersTable').output.firstRow.last_insert_time"}}],"policy":{"elapsedTimeMetric":{}},"variables":{"LastInsertTime":{"type":"String"},"LastInsertTime2":{"type":"String"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/CustomersTable')]","[concat(variables('factoryId'), '/datasets/AzureSqlOrdersTable')]"]},{"name":"[concat(parameters('factoryName'), '/CustomersTable')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"customer_id","type":"int","precision":10},{"name":"first_name","type":"nvarchar"},{"name":"last_name","type":"nvarchar"},{"name":"insert_time","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dbo","table":"Customer"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSqlOrdersTable')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"order_id","type":"int","precision":10},{"name":"customer_id","type":"int","precision":10},{"name":"first_name","type":"nvarchar"},{"name":"last_name","type":"nvarchar"},{"name":"order_amount","type":"decimal","precision":10,"scale":2},{"name":"order_date","type":"date"},{"name":"insert_time","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dbo","table":"Orders"}},"dependsOn":[]}]}